<template>
    <span>
    	<img class="avatar" :src="featuredImage" alt="" />
    </span>
</template>
<script>
	import utils from '../../mixins/utils';
    import store_mix from '../../store';
    import { mapGetters } from 'vuex';
    export default {
    	mixins: [store_mix,utils],
        data() {
          return {
            featuredImg: '',
          }
        },
        mounted() {
          
        },
        props: ['imgData','imgPath'],
        computed:  {
        	featuredImage: function(){
        		if(this.imgData == null){
        			return "http://via.placeholder.com/50x50";
        		}else{
        			return this.imgPath+'/'+this.imgData.name+'.'+this.imgData.ext_name;
        		}
	        },
        }
    }
</script>    