.selectize-input{
	border-radius: 0 !important;
}
.markdown-editor .CodeMirror, .markdown-editor .CodeMirror-scroll {
  min-height: 100px !important;
}
.file-upload{
	display:block;
	text-align:center;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	padding-top:7px;

	.file-select{
		border-radius: 5px;
		display:block;
		border: 2px solid #9da4b0;
		color: #34495e;
		cursor:pointer;
		height:40px;
		line-height:40px;
		text-align:left;
		background:#d3dce5;
		overflow:hidden;
		position:relative;

		.file-select-button{ 
			border-right: 2px solid #9da4b0; 
			background:#c5cacb;
			padding:0 10px;
			display:inline-block;
			height:40px;
			line-height:40px;
			font-weight:bold;
		}

		.file-select-name{
			line-height:40px;
			display:inline-block;
			padding:0 10px;
		}

		input[type=file]{
			z-index:100;
			cursor:pointer;
			position:absolute;
			height:100%;
			width:100%;
			top:0;
			left:0;
			opacity:0;
			filter:alpha(opacity=0);
		}
		.file-select-disabled{
			opacity:0.65;
		}
	}

	&:active{
		.file-select{
			.file-select-button{
				color:#FFFFFF;
				transition:all .2s ease-in-out;
				-moz-transition:all .2s ease-in-out;
				-webkit-transition:all .2s ease-in-out;
				-o-transition:all .2s ease-in-out;
			}
		}
	}

	&:hover{
		.file-select{
			transition:all .2s ease-in-out;
			-moz-transition:all .2s ease-in-out;
			-webkit-transition:all .2s ease-in-out;
			-o-transition:all .2s ease-in-out;

			.file-select-button{
				transition:all .2s ease-in-out;
				-moz-transition:all .2s ease-in-out;
				-webkit-transition:all .2s ease-in-out;
				-o-transition:all .2s ease-in-out;
			}
		}
	}
}