// testing
.modal-mask {
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}
#myModal{
	.photo-wrapper{
		max-width: 900px; 
		display: inline-block; 
		margin: 0 auto; 
		position: relative;
		padding-bottom: 20px;
		> a{
			position: absolute;
			top: 10px;
			right: 10px;
			z-index: 1;
			color: #FFF;
			opacity: 0.6;
			text-decoration: none;
		}
	}
	.btn-remove-image{
		position: absolute;
		top: 3px;
		right: 3px;
		color: #FFF;
		z-index: 2;
	    opacity: 0.6;
	    text-shadow: 0 0 5px #000;
	}
}

/* Scroll bar */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
