<template>
  <div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <span class="pull-right"><a href="javascript:void(0);" @click="showModal(0)" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Add Supplier </a></span>
      </div>

      <div class="clearfix"></div>

      
      
      
    </div>
    <div class="row">
        <div class="col-md-12">
        testing
        </div>
      </div>
  </div>
</template>

<script>
    import store_mix from '../store';
    import { mapGetters } from 'vuex';
    export default {
        mixins:[store_mix],
        data() {
          return {
            triggerModal: false
          }
        },
        methods: {
          showModal: function(id){
            var self = this;
            if( id > 0){
                self.triggerModal = true;
                self.id = id;
            }else{
                self.triggerModal = true;
                self.id = '';
            }
          },
          showInventory: function(page){
          },
        },
        components: {

        },
        mounted() {
        },
        computed: {
          ...mapGetters({             
            pagination: 'pagination',
            users: 'user',
            profilePath: 'profilePath',
          }),
        }
    }
</script>