<template>
    <div>
        <div class="modal fade in bs-example-modal-lg modal-mask" id="myModal" tabindex="-1" role="dialog" style="display: block" >
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" @click="$emit('close')" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myModalLabel" >Product Brand</h4>
                    </div>

                    <form name="frmBrand" class="form-horizontal" v-on:submit.prevent="submitFrmBrand">
                        <div class="modal-body">
                        <!-- start accordion -->
                        <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                          <div class="panel">
                            <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              <h4 class="panel-title">Information</h4>
                            </a>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                              <div class="panel-body">
                                
                                <div :class="{'form-group': true, 'bad': errors.has('brand')}">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Brand</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control has-error" v-validate="'required'" v-model="form.brand" id="brand" placeholder="Brand Name" name="brand">
                                    </div>
                                </div>

                                

                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- end of accordion -->
                            
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" id="btn-save" data-loading-text="Saving.. <i class='fa fa-spinner fa-spin'></i>" ref="btn_category_info" >Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<style>
  @import '~simplemde/dist/simplemde.min.css';
  @import '~github-markdown-css';
</style>
<script>
    import store_mix from '../../store';
    import { mapGetters } from 'vuex';
    import markdownEditor from 'vue-simplemde/src/markdown-editor'
    import { ToggleButton } from 'vue-js-toggle-button';

    export default {
        data() {
          return {
            id: this.brandid, // other way around to get the ID
            form: {
              brand: '',
            },
          }
        },
        mounted: function(){
            var self = this;
            if(this.brandid > 0){
                var url = '/admin/brand/'+this.brandid;
                axios.get(url)
                    .then( response => {
                        var data = response.data.brands;
                        self.form.brand = data.brand;
                    });
            }
        },
        created(){
            
        },
        props: ['brandid'],
        computed: {
            ...mapGetters({
                pagination: 'pagination',
              }),
        },
        components: {
            Selectize: require('vue2-selectize'),
            markdownEditor,
            ToggleButton,
        },
        methods: {
            submitFrmBrand: function(){
                var self = this;
                var form = self.form;
                this.$validator.validateAll().then((result) => {
                    if( result ){

                        var data = {
                            brand: form.brand,
                        }

                        $(self.$refs.btn_category_info).button('loading');
                        

                        if( self.id > 0 ){ // This would be Edit
                             axios.post('/admin/brand/'+self.id,data)
                                .then( response => {
                                     $(self.$refs.btn_category_info).button('reset');
                                        self.$emit('reloader',this.pagination.current_page); // call this to reload ^_^
                                        this.$emit('close');
                                })
                        }else{ // This will be ADD
                            axios.post('/admin/brand',data)
                                .then( response => {
                                    if( response ){
                                        $(self.$refs.btn_category_info).button('reset');
                                        self.$emit('reloader',this.pagination.current_page); // call this to reload ^_^
                                        this.$emit('close');
                                    }
                                })
                        }   
                        

                    }
                });
            }
        },
    }
</script>
<style>
@import "~selectize/dist/css/selectize.bootstrap3.css";
</style>