<template>
    <div>
        <div class="modal fade in bs-example-modal-md modal-mask" id="myModal" tabindex="-1" role="dialog" style="display: block" >
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" @click="$emit('close')" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myModalLabel" >Cart</h4>
                    </div>

                    <form name="frmBlog" class="form-horizontal" v-on:submit.prevent="submitFrmCart">
                        <div class="modal-body">
                            <table class="table table-striped projects cartModal">
                              <thead>
                                <tr>
                                  <th>Product Name</th>
                                  <th style="width:15%">Size</th>
                                  <th style="width:15%">Qty</th>
                                  <th>Price</th>
                                  <th>Last Price</th>
                                  <th>total</th>
                                  <th>Remove</th>
                                </tr>
                              </thead>

                              <tbody>
                                
                                <tr v-for="(prod,i) in productSave" v-bind:key="i">
                                  <td>
                                    <label>{{ prod.productname }}</label>
                                  </td>
                                  <td class="">
                                    <input type="hidden" v-model="prod.id" name="id" id="id" >
                                    <input type="hidden" v-model="prod.origPrice" name="origPrice" id="origPrice">
                                    <selectize name="size" class="form-control" v-model="prod.size_id" v-validate="'required'"  @input="changeSize(i,prod.size_id)" :settings="statusOption"  :options="stats"> 
                                        <option v-for="size in prod.misc" v-if="size.quantity > 0" :value="parseInt(size.size_id)">{{size.size.value}}</option>
                                    </selectize>
                                  </td>
                                  <td>
                                    <selectize name="quantity" class="form-control" v-model="prod.quantity" v-validate="'required'" :key="i" :settings="{ create: false, placeholder: 'Quantity'}" :options="stats"> 
                                        <option v-for="num in parseInt(prod.quantityHolder)" :value="num">{{num}}</option>
                                    </selectize>
                                  </td>
                                  
                                  <td><input type="text" name="price" class="form-control" id="price" @input="changePrice(i,prod.size_id,prod.price)" v-model="prod.price" ></td>
                                  <td><label class="form-control form-control-nb">{{prod.lastprice}}</label></td>
                                  <td><label class="form-control form-control-nb">{{totalme[i]}}</label></td>
                                  <td>
                                  <a href="#" class="text-danger align-middle" @click="removeProduct(i)"><i class="fa fa-1x fa-trash"></i></a>
                                  </td>
                                </tr>
                                <tr>
                                  <td colspan="5"><label>Total: </label></td>
                                  <td class="center-me"><label>{{totalAll}}</label></td>
                                  <td>&nbsp;</td>
                                </tr>
                              </tbody>
                            </table>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" id="btn-save" data-loading-text="Saving.. <i class='fa fa-spinner fa-spin'></i>" ref="btn_cart_info" >Buy Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<style>
  @import '~simplemde/dist/simplemde.min.css';
  @import '~github-markdown-css';
</style>
<script>
    import store_mix from '../../store';
    import { mapGetters } from 'vuex';
    import markdownEditor from 'vue-simplemde/src/markdown-editor'

    export default {
        data() {
          return {
            id: this.id, // other way around to get the ID
            statusOption: {
                create: false,
                placeholder: 'Size'
            },
            stats: '',
            cartForm: {
              size_id: 0,
            }, 
            selectedSize: [],
            selectedProduct: [],
            cartProduct: [],
            prod: [],
          }
        },
        mounted: function(){
        },
        props: ['productId'],
        created(){
            
        },
        computed: {
          ...mapGetters({
              fileName: 'fileName',
              productCart: 'productCart',
              prodSample: 'prodSample',
              pagination: 'pagination',
              productSave: 'productSave'
            }),
          totalme: function(){
            return this.productSave.map((item) => {
              var vals = item.misc.find((itm) => parseInt(itm.size_id) === parseInt(item.size_id))
              if(typeof vals !== 'undefined'){
                console.log('size: '+vals.size_id+' price: '+vals.price+' quantity: '+item.quantity);
                var quant = isNaN(item.quantity) ? 0 : item.quantity;
                return vals.price * quant
              }
            })
          },
          lastprice: function(){
            return 3;
          },
          totalAll: function(){
            const arrSum = arr => arr.reduce((a,b) => a + b, 0)
            const result = arrSum(this.totalme)
            return isNaN(result) ? 0 : result;
          },
          // price: function(){ // price[i] for model
          //   return this.productSave.map((item) => {
          //     console.log('ssssssssssss');
          //     var vals = item.misc.find((itm) => parseInt(itm.size_id) === parseInt(item.size_id))
          //     if(typeof vals !== 'undefined'){
          //       return vals.price
          //     }
          //   })
          // },
        },
        components: {
            Selectize: require('vue2-selectize'),
        },
        watch: {
            resulta(value) {
                this.result = value;
            },
            blogID(value){
                this.id = value; // other way around to get the ID
            },
            cartProduct: function(){
              this.cartProduct = this.prodSample
            },
            totals: function(){
              this.prod.id
            },

        },
        methods: {
            submitFrmCart: function(){
              var self = this
              this.$validator.validateAll().then((result) => {
                $(self.$refs.btn_cart_info).button('loading');
                var data = {
                  product: this.productSave
                }
                if(result){
                  axios.post('/admin/order',data)
                    .then( response => {
                      if(response.status == 200 ){
                        $(self.$refs.btn_cart_info).button('reset');
                        this.productSave.splice(0,this.productSave.length)
                        this.$emit('close')
                        this.$swal({
                          title: 'Information',
                          text: 'has been Saved',
                          icon: 'success',
                          toast: true,
                          position: 'top-end',
                          showCloseButton: false,
                          showConfirmButton: false,
                          timer: 2000
                        })
                      }
                    })
                }
                
              })



                
            },
            removeProduct: function(id){
              this.productSave.splice(id,1)
              if(this.productSave.length <= 0){
                this.$emit('close')
              }
            },
            changeSize: function(row,val){
              // old code but very usefull
              // var getId = '';
              // $.each(this.productSave[row].misc, function(key, value) {
              //   if(value.size_id === parseInt(val)){
              //     getId = value.quantity
              //     //console.log(value.size_id)
              //   }
              // });
              
              // this is the short code for es6 ^_^
              const quantt = this.productSave[row].misc.find((item) => item.size_id === parseInt(val))
              this.productSave[row].quantityHolder = quantt.quantity
              this.productSave[row].price = quantt.price;
              this.productSave[row].origPrice = quantt.price
              this.productSave[row].lastprice = quantt.price * .75
              this.productSave[row].misc_id = quantt.misc_id
            },
            changePrice: function(row,size_id,val){
              var price = 0;
              var keyval = '';
              $.each(this.productSave[row].misc, function(key, value) {
                if(value.size_id === parseInt(size_id)){
                  price = value.price
                  keyval = key;
                }
              });
              this.productSave[row].misc[keyval].price = val;
            }
        },
    }
</script>
<style>
@import "~selectize/dist/css/selectize.bootstrap3.css";
</style>
