<template>
    <div>
        <div class="modal fade in bs-example-modal-lg modal-mask" id="myModal" tabindex="-1" role="dialog" style="display: block" >
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" @click="$emit('close')" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myModalLabel" >Project</h4>
                    </div>

                    <form name="frmProject" class="form-horizontal" v-on:submit.prevent="submitFrmProject">
                        <div class="modal-body">
                            <div class="accordion modal-project" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel">
                                    <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                      <h4 class="panel-title">Information</h4>
                                    </a>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div :class="{'form-group': true}" >
                                            <label for="featuredImage" class="col-sm-2 control-label">Featured Image</label>
                                            <div class="col-sm-10">
                                                <div v-if="imgSrc.length == 0">
                                                    <ImageCropper></ImageCropper>
                                                </div>
                                                <div class="photo-wrapper" v-else >
                                                    <a @click="removeImage" class="btn-remove-image fa fa-times fa-lg"></a>
                                                    <vue-cropper
                                                        ref="cropper"
                                                        :guides="cropper.guides"
                                                        :view-mode="cropper.viewMode"
                                                        :drag-mode="cropper.dragMode"
                                                        :auto-crop-area="cropper.autoCropArea"
                                                        :min-container-width="cropper.minContainerWidth"
                                                        :min-container-height="cropper.minContainerHeight"
                                                        :background="cropper.background"
                                                        :rotatable="cropper.rotatable"
                                                        :src="imgSrc"
                                                        :img-style="cropper.imgStyle"
                                                        :aspect-ratio="cropper.aspectRatio"
                                                        :cropmove="cropImage" v-if="imgSrc.length > 0">
                                                    </vue-cropper>
                                                </div>
                                            </div>
                                        </div>
                                        <div :class="{'form-group': true}" >
                                            <label for="featuredImage" class="col-sm-2 control-label">Select Image</label>
                                            <div class="col-sm-10">
                                                <choose-file @atchange="dataChange" ></choose-file>
                                            </div>
                                        </div>
                                        <div :class="{'form-group': true, 'bad': errors.has('title')}">
                                            <label for="inputEmail3" class="col-sm-2 control-label">Title</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control has-error" v-validate="'required'" v-model="form.title" id="title" placeholder="Title" name="title">
                                            </div>
                                        </div>
                                        <div class="form-group error">
                                            <label for="tags" class="col-sm-2 control-label">Tags</label>
                                            <div class="col-sm-10">
                                                <selectize multiple v-model="selected" :settings="options" :options="tags"> 
                                                  <option v-for="tag in tags" :value="tag.id">{{ tag.tags }}</option> 
                                                </selectize>
                                            </div>
                                        </div>
                                        <div :class="{'form-group': true, 'bad': errors.has('link')}">
                                            <label for="inputEmail3" class="col-sm-2 control-label">Link</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control has-error" v-validate="'required|url'" v-model="form.link" id="link" placeholder="Link" name="link">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <!-- end of accordion -->
                            
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" id="btn-save" data-loading-text="Saving.. <i class='fa fa-spinner fa-spin'></i>" ref="btn_project_info" >Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<style>
  @import '~simplemde/dist/simplemde.min.css';
  @import '~github-markdown-css';
</style>
<script>
    import store_mix from '../../store';
    import { mapGetters } from 'vuex';

    export default {
        data() {
          return {
            id: this.projID, // other way around to get the ID
            stats: '',
            selected_file: '',
            tags: [],
            selected: [],
            errorHandler: '',
            processUpload: false,
            options: {
                plugins: ['remove_button'],
                maxItems: null,
                create: true,
                placeholder: 'Select Tags',
            },
            imgSrc: '',
            form: {
              title: '',
              link: '',
            },
            cropperData: {},
            cropImg: '',
            cropper: {
                guides: true,
                viewMode: 2,
                dragMode: 'crop',
                autoCropArea: 0.6, 
                minContainerHeight: 400,
                minContainerWidth:300,
                background: true,
                rotatable: true,
                aspectRatio: 1,
                imgStyle: {
                    width: '100%',
                    height: '300px'
                }
            },
          }
        },
        mounted: function(){
            var self = this;
            //self.$store.dispatch('singleProject',self.id)
            var url = '/admin/project/'+self.projID;
            if( this.projID > 0 ){
                axios.get(url)
                    .then( response => {
                        var featured_img = response.data.projectImage;
                          if( featured_img.id > 0 ){
                            this.imgSrc = response.data.imagePath+'/'+featured_img.name+'.'+featured_img.ext_name;
                          }else{
                            this.imgSrc = '';
                          }
                        var data = response.data.project;
                        self.form.title = data.name;
                        self.form.link = data.link;
                        self.tags = response.data.tags;
                        self.selected = response.data.tagsSelected;
                    });
            }else{
                axios.get('/admin/blog/showalltags')
                  .then( response => {
                    this.tags = response.data.tags
                  })
                this.imgSrc = '';
            }
            
        },
        props: ['projID'],
        computed: {
            ...mapGetters({
                fileName: 'fileName',
                pagination: 'pagination',
                singleproject: 'singleproject',
              }),
        },
        components: {
            Selectize: require('vue2-selectize'),
            ImageCropper: require('../ImageCrop.vue'),
            chooseFile: require('../chooseFile.vue'),
        },
        watch: {
        },
        methods: {
            submitFrmProject: function(){
                var self = this;
                this.$validator.validateAll().then((result) => {
                    if( result ){
                        $(self.$refs.btn_project_info).button('loading');
                        var form = self.form;
                        var data = {
                            title: self.form.title,
                            tags: self.selected,
                            id: self.id,
                            link: self.form.link,
                            cropData : this.cropperData,
                            photo_data_url: self.imgSrc,
                            fileName: self.fileName,
                        }
                        
                        if( self.id > 0 ){ // This would be Edit
                            
                            axios.post('/admin/project/'+this.id,data)
                                .then( response => {
                                    if( response ){
                                        $(self.$refs.btn_project_info).button('reset');
                                        self.$emit('pagereload',this.pagination.current_page); // call this to reload ^_^
                                        self.$emit('close');
                                    }
                                })

                        }else{ // This will be ADD
                            axios.post('/admin/project',data)
                                .then( response => {
                                    if( response ){
                                        $(self.$refs.btn_project_info).button('reset');
                                        self.$emit('pagereload',this.pagination.current_page); // call this to reload ^_^
                                        this.$emit('close');
                                    }
                                }) 

                        }   
                    }
                });
            },
            cropImage: function(){
                this.cropImg = this.$refs.cropper.getCroppedCanvas().toDataURL();
                this.cropperData = this.$refs.cropper.getData();
            },
            removeImage: function(){
                this.imgSrc = '';
                this.selected_file = null;
            },
            dataChange: function(value){
                this.imgSrc = value.imgSrc;
            },
        },
    }
</script>
<style>
@import "~selectize/dist/css/selectize.bootstrap3.css";
</style>