<template>
    <div>
        <div class="modal fade in bs-example-modal-lg modal-mask" id="myModal" tabindex="-1" role="dialog" style="display: block" >
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" @click="$emit('close')" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myModalLabel" >Products</h4>
                    </div>

                    <form name="frmBlog" class="form-horizontal" v-on:submit.prevent="submitFrmProduct">
                        <div class="modal-body">
                        <!-- start accordion -->
                        <div class="accordion modal-project" id="accordion" role="tablist" aria-multiselectable="true">
                          <div class="panel">
                            <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              <h4 class="panel-title">Information</h4>
                            </a>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                              <div class="panel-body">
                                <div :class="{'form-group': true}" >
                                    <div v-if="imgSrc.length == 0">
                                        <ImageCropper></ImageCropper>
                                    </div>
                                    <div class="photo-wrapper" v-else >
                                            <a @click="removeImage" class="btn-remove-image fa fa-times fa-lg"></a>
                                            <vue-cropper
                                                ref="cropper"
                                                :guides="cropper.guides"
                                                :view-mode="cropper.viewMode"
                                                :drag-mode="cropper.dragMode"
                                                :auto-crop-area="cropper.autoCropArea"
                                                :min-container-width="cropper.minContainerWidth"
                                                :min-container-height="cropper.minContainerHeight"
                                                :background="cropper.background"
                                                :rotatable="cropper.rotatable"
                                                :src="imgSrc"
                                                :img-style="cropper.imgStyle"
                                                :aspect-ratio="cropper.aspectRatio"
                                                :cropmove="cropImage" v-if="imgSrc.length > 0">
                                            </vue-cropper>
                                        </div>
                                    <div>
                                        <label for="featuredImage" class="col-sm-2 control-label">Select Image</label>
                                        <div class="col-sm-10">
                                            <choose-file @atchange="dataChange" ></choose-file>
                                        </div>
                                    </div>
                                </div>
                                <div :class="{'form-group': true, 'bad': errors.has('product')}">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Product</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control has-error" v-validate="'required'" v-model="form.product" id="product" name="product">
                                    </div>
                                </div>

                                <div :class="{'form-group': true, 'bad': errors.has('product_code')}">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Product Code</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control has-error" v-validate="'required'" v-model="form.product_code" id="product_code"  name="product_code">
                                    </div>
                                </div>
                                <div :class="{'form-group': true, 'bad': errors.has('category_id')}">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Category</label>
                                    <div class="col-sm-10">
                                        <selectize name="statss" class="form-control" v-validate="'required'" v-model="form.category_id" :settings="categoryOption" :options="stats"> 
                                            <option v-for="category in categories" :value="category.id">{{ category.category }}</option>
                                        </selectize>
                                    </div>
                                </div>
                                <div :class="{'form-group': true, 'bad': errors.has('brand_id')}">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Brands</label>
                                    <div class="col-sm-10">
                                        <selectize name="statss" class="form-control" v-validate="'required'" v-model="form.brand_id" :settings="brandOption" :options="stats"> 
                                            <option v-for="brand in brands" :value="brand.id">{{ brand.brand }}</option>
                                        </selectize>
                                    </div>
                                </div>
                                <div :class="{'form-group': true, 'bad': errors.has('supplier_id')}">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Supplier</label>
                                    <div class="col-sm-10">
                                        <selectize name="statss" class="form-control" v-validate="'required'" v-model="form.supplier_id" :settings="supplierOption" :options="stats"> 
                                            <option v-for="supplier in suppliers" :value="supplier.id">{{ supplier.supplier_name }}</option>
                                        </selectize>
                                    </div>
                                </div>

                              </div>
                            </div>
                          </div>



                          <div class="panel">
                            <a class="panel-heading collapsed" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              <h4 class="panel-title">Misc</h4>
                            </a>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                              <div class="panel-body">
                                <div class="form-group" v-for="(misc, index) in miscs" v-bind:key="index">

                                    <input type="hidden" v-model="misc.id" id="id" name="id">
                                    <div class="col-sm-2">
                                        <selectize name="statss" class="form-control" v-validate="'required'"  v-model="misc.size_id" :settings="sizeOption" :options="stats" id="size"> 
                                            <option v-for="size in sizes" :value="size.id">{{ size.value }}</option>
                                        </selectize>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control has-error" v-validate="'required'" v-model="misc.sku" id="sku" placeholder="sku" name="sku">
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control has-error" v-validate="'required'" v-model="misc.wholesale_price" id="wholesale_price" placeholder="whole sale price" name="wholesale_price">
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control has-error" v-validate="'required'" v-model="misc.quantity" id="quantity" placeholder="quantity" name="quantity">
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="block float-right">
                                            <button type="button" class="btn btn-primary" v-if="index + 1 === miscs.length" @click="addLine" >Add</button>
                                            <button type="button" class="btn btn-danger" @click="removeLine(index)">Delete</button>
                                        </div>
                                    </div>
                                </div>


                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- end of accordion -->
                            
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary"  id="btn-save" data-loading-text="Saving.. <i class='fa fa-spinner fa-spin'></i>" ref="misc" >Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<style>
  @import '~simplemde/dist/simplemde.min.css';
  @import '~github-markdown-css';
</style>
<script>
    import store_mix from '../../store';
    import { mapGetters } from 'vuex';
    import markdownEditor from 'vue-simplemde/src/markdown-editor'
    import { ToggleButton } from 'vue-js-toggle-button';

    export default {
        data() {
          return {
            id: this.productid, // other way around to get the ID
            imgSrc: '',
            cropperData: {},
            cropImg: '',
            cropper: {
                guides: true,
                viewMode: 2,
                dragMode: 'crop',
                autoCropArea: 0.6, 
                minContainerHeight: 400,
                minContainerWidth:300,
                background: true,
                rotatable: true,
                aspectRatio: 1,
                imgStyle: {
                    width: '100%',
                    height: '300px'
                }
            },
            form: {
              product: '',
              category_id: '',
              brand_id: '',
              product_code: '',
              supplier_id: '',
            },
            sizeOption: {
                create: false,
                placeholder: 'Select size'
            },
            categoryOption: {
                create: false,
                placeholder: 'Select Category'
            },
            brandOption: {
                create: false,
                placeholder: 'Select Brand'
            },
            supplierOption: {
                create: false,
                placeholder: 'Select Supplier'
            },
            sizes:[],
            categories:[],
            brands:[],
            suppliers:[],
            miscs: [],
            blockRemoval: true,
            stat: '',
            stats: '',
            saver: '',
          }
        },
         watch: {
            /*'misc.size':(newValue) => {
                console.log('test');
                this.miscs.foreach(function(misc){
                    misc.sku = newValue;
                })
            },*/
            'miscs.size':{
                handler: function(newValue) {
                    //console.log(newValue);
                },
                deep: true
            },
            'form.product_code': function(newValue,oldValue){
                let prod_code = newValue.replace(/\s/g, "-")
                if(this.miscs.length > 0 && this.miscs[0]['size_id'] == undefined ){
                    this.miscs.forEach(function(misc){
                      misc.sku = newValue+'-';
                    });
                }
                
                this.saver = newValue+'-';
                this.form.product_code = prod_code;
            },
            
          },
        mounted: function(){
            this.addLine()
            if( this.id > 0 ){
                axios.get('/admin/product/'+this.id)
                    .then( response => {
                    var data = response.data.product;
                    var prod = data.product;
                    var miscs = data.miscs;
                    this.sizes = response.data.sizes
                    this.categories = response.data.categories
                    this.brands = response.data.brands
                    this.suppliers = response.data.suppliers

                    this.form.product = prod.product_name
                    this.form.product_code = prod.product_code
                    this.form.category_id = prod.product_category_id;
                    this.form.brand_id = prod.brand_id;
                    this.form.supplier_id = prod.supplier_id;
                    this.imgSrc = data.productImage;
                    if(miscs.length > 0)
                        this.miscs = miscs;

                    })
            }else{
                axios.get('/admin/showproductattr')
                  .then( response => {
                    this.sizes = response.data.sizes
                    this.categories = response.data.categories
                    this.brands = response.data.brands
                    this.suppliers = response.data.suppliers
                  })
            }
        },
        created(){
            
        },
        props: ['productid'],
        computed: {
            ...mapGetters({
                pagination: 'pagination',
                fileName: 'fileName',
              }),
        },
        components: {
            Selectize: require('vue2-selectize'),
            markdownEditor,
            ToggleButton,
            chooseFile: require('../chooseFile.vue'),
            ImageCropper: require('../ImageCrop.vue'),
        },
        methods: {
            cropImage: function(){
                this.cropImg = this.$refs.cropper.getCroppedCanvas().toDataURL();
                this.cropperData = this.$refs.cropper.getData();
            },
            dataChange: function(value){
                this.imgSrc = value.imgSrc;
            },
            removeImage: function(){
                this.imgSrc = '';
                this.selected_file = null;
            },
            submitFrmProduct: function(){
                var self = this;
                var form = self.form;
                this.$validator.validateAll().then((result) => {
                    if( result ){

                        var data = {
                            brand_id: form.brand_id,
                            category_id:form.category_id,
                            supplier_id:form.supplier_id,
                            product: form.product,
                            product_code: form.product_code,
                            miscs: self.miscs,
                            photo_data_url: self.imgSrc,
                        }

                        $(self.$refs.btn_product_info).button('loading');
                        if( self.id > 0 ){ // This would be Edit
                            data.id = self.id;

                            
                            axios.post('/admin/product/'+self.id,data)
                                .then( response => {
                                    console.log(response.data);
                                     $(self.$refs.btn_product_info).button('reset');
                                        self.$emit('reloader',this.pagination.current_page); // call this to reload ^_^
                                        this.$emit('close');
                                })
                        }else{ // This will be ADD
                            axios.post('/admin/product',data)
                                .then( response => {
                                    if( response ){
                                        $(self.$refs.btn_product_info).button('reset');
                                        self.$emit('reloader',this.pagination.current_page); // call this to reload ^_^
                                        this.$emit('close');
                                    }
                                })
                        }   
                        

                    }
                });
            },
            addLine () {
              /*let checkEmptyLines = this.miscs.filter(misc => misc.size === null)
              console.log(checkEmptyLines);
              if (checkEmptyLines.length >= 1 && this.miscs.length > 0) 
            return*/
              this.miscs.push({
                id: null,
                size: null,
                wholesale_price: null,
                quantity: null,
                sku: this.saver,
              })
            },
            removeLine (miscId) {
              //if (!this.blockRemoval)   
              if(this.miscs.length > 1)
                this.miscs.splice(miscId, 1)
            },
            sizeChange: function(data){
                //this.miscs[index].sku = 'test';
                //this.miscs.sku = data.sku + data;
                    /*this.miscs.forEach((e, i) => {
                    if (e.id == data.id) {
                      this.miscs.sku[i] = e.numerator /e.denominator;
                    }
                  });*/
            }
        },
    }
</script>
<style>
@import "~selectize/dist/css/selectize.bootstrap3.css";
</style>