<template>
    <div>
        <div class="modal fade in bs-example-modal-lg modal-mask" id="myModal" tabindex="-1" role="dialog" style="display: block" >
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" @click="$emit('close')" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myModalLabel" >Supplier</h4>
                    </div>

                    <form name="frmBlog" class="form-horizontal" v-on:submit.prevent="submitFrmSupplier">
                        <div class="modal-body">
                        <!-- start accordion -->
                        <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                          <div class="panel">
                            <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              <h4 class="panel-title">Information</h4>
                            </a>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                              <div class="panel-body">
                                
                                <div :class="{'form-group': true, 'bad': errors.has('supplier')}">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Supplier</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control has-error" v-validate="'required'" v-model="form.supplier" id="supplier" placeholder="Supplier Name" name="supplier">
                                    </div>
                                </div>

                                <div :class="{'form-group': true, 'bad': errors.has('address')}">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Address</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control has-error" v-validate="'required'" v-model="form.address" id="address" placeholder="Address" name="address">
                                    </div>
                                </div>

                                <div :class="{'form-group': true, 'bad': errors.has('address')}">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Status</label>
                                    <div class="col-sm-10">
                                        <toggle-button :value="false"
                                           color="#82C7EB"
                                           v-model="form.status"
                                           :sync="true"
                                           :labels=" {checked: 'active', unchecked: 'inactive' }"
                                           :margin="3"
                                           :width="70"
                                           :height="30"/>
                                    </div>
                                </div>

                                

                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- end of accordion -->
                            
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" id="btn-save" data-loading-text="Saving.. <i class='fa fa-spinner fa-spin'></i>" ref="btn_supplier_info" >Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<style>
  @import '~simplemde/dist/simplemde.min.css';
  @import '~github-markdown-css';
</style>
<script>
    import store_mix from '../../store';
    import { mapGetters } from 'vuex';
    import markdownEditor from 'vue-simplemde/src/markdown-editor'
    import { ToggleButton } from 'vue-js-toggle-button';

    export default {
        data() {
          return {
            id: this.supplierid, // other way around to get the ID
            result : [],
            tags: [],
            selected: [],
            stats: '',
            form: {
              supplier: '',
              address: '',
              status: true,
            },
          }
        },
        mounted: function(){
            var self = this;
            if(this.supplierid > 0){
                var url = '/admin/supplier/'+this.supplierid;
                axios.get(url)
                    .then( response => {
                        var data = response.data.supplier;
                        self.form.address = data.address;
                        self.form.status = data.active;
                        self.form.supplier = data.supplier_name;
                    });
            }
        },
        created(){
            
        },
        props: ['supplierid'],
        computed: {
            ...mapGetters({
                pagination: 'pagination',
              }),
        },
        components: {
            Selectize: require('vue2-selectize'),
            markdownEditor,
            ToggleButton,
        },
        methods: {
            submitFrmSupplier: function(){
                var self = this;
                var form = self.form;
                this.$validator.validateAll().then((result) => {
                    if( result ){

                        var data = {
                            supplier_name: form.supplier,
                            address: form.address,
                            status: form.status,
                        }

                        $(self.$refs.btn_supplier_info).button('loading');
                        

                        if( self.id > 0 ){ // This would be Edit
                            axios.post('/admin/supplier/'+self.id,data)
                                .then( response => {
                                     $(self.$refs.btn_supplier_info).button('reset');
                                        self.$emit('reloader',this.pagination.current_page); // call this to reload ^_^
                                        this.$emit('close');
                                })
                        }else{ // This will be ADD
                            axios.post('/admin/supplier',data)
                                .then( response => {
                                    if( response ){
                                        $(self.$refs.btn_supplier_info).button('reset');
                                        self.$emit('reloader',this.pagination.current_page); // call this to reload ^_^
                                        this.$emit('close');
                                    }
                                })
                        }   
                        

                    }
                });
            }
        },
    }
</script>
<style>
@import "~selectize/dist/css/selectize.bootstrap3.css";
</style>