<template>
    <div>
        <div class="modal fade in bs-example-modal-lg modal-mask" id="myModal" tabindex="-1" role="dialog" style="display: block" >
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" @click="$emit('close')" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myModalLabel" >Profile Settings</h4>
                    </div>

                    <form name="frmUser" class="form-horizontal" v-on:submit.prevent="submitFrmUser">
                        <div class="modal-body">
                        <!-- start accordion -->
                        <div class="accordion modal-user" id="accordion" role="tablist" aria-multiselectable="true">
                          <div class="panel">
                            <a class="panel-heading collapsed" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              <h4 class="panel-title">Profile Image</h4>
                            </a>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                              <div class="panel-body">

                                <div :class="{'form-group': true}" >
                                    <label for="featuredImage" class="col-sm-2 control-label">Profile Image</label>
                                    <div class="col-sm-10">
                                        <div v-if="imgSrc.length == 0">
                                            <ImageCropper></ImageCropper>
                                        </div>
                                        <div class="photo-wrapper" v-else >
                                            <a @click="removeImage" class="btn-remove-image fa fa-times fa-lg"></a>
                                            <vue-cropper
                                                ref="cropper"
                                                :guides="cropper.guides"
                                                :view-mode="cropper.viewMode"
                                                :drag-mode="cropper.dragMode"
                                                :auto-crop-area="cropper.autoCropArea"
                                                :min-container-width="cropper.minContainerWidth"
                                                :min-container-height="cropper.minContainerHeight"
                                                :background="cropper.background"
                                                :rotatable="cropper.rotatable"
                                                :src="imgSrc"
                                                :img-style="cropper.imgStyle"
                                                :aspect-ratio="cropper.aspectRatio"
                                                :cropmove="cropImage" v-if="imgSrc.length > 0">
                                            </vue-cropper>
                                        </div>
                                    </div>
                                </div>
                                <div :class="{'form-group': true}" >
                                    <label for="featuredImage" class="col-sm-2 control-label">Select Image</label>
                                    <div class="col-sm-10">
                                        <choose-file @atchange="dataChange" ></choose-file>
                                    </div>
                                </div>
                                


                              </div>
                            </div>
                          </div>

                          <div class="panel">
                            <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              <h4 class="panel-title">Information</h4>
                            </a>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                              <div class="panel-body">
                                

                                <div :class="{'form-group': true, 'bad': errors.has('firstname')}">
                                    <label for="inputEmail3" class="col-sm-2 control-label">First Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control has-error" v-validate="'required'" v-model="form.firstname" id="firstname" name="firstname">
                                    </div>
                                </div>

                                <div :class="{'form-group': true, 'bad': errors.has('lastname')}">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Last Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control has-error" v-validate="'required'" v-model="form.lastname" id="lastname" name="lastname">
                                    </div>
                                </div>
                                
                                <div :class="{'form-group': true, 'bad': errors.has('profession')}">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Profession</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control has-error" v-validate="'required'" v-model="form.profession" id="profession" name="profession">
                                    </div>
                                </div>

                                <div :class="{'form-group': true, 'bad': errors.has('phone')}">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Phone</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control has-error" v-validate="'required'" v-model="form.phone" id="phone" name="phone">
                                    </div>
                                </div>

                                <div :class="{'form-group': true, 'bad': errors.has('street')}">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Street</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control has-error"  v-model="form.street" id="street" name="street">
                                    </div>
                                </div>

                                <div :class="{'form-group': true, 'bad': errors.has('city')}">
                                    <label for="inputEmail3" class="col-sm-2 control-label">City</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control has-error"  v-model="form.city" id="city" name="city">
                                    </div>
                                </div>

                                <div :class="{'form-group': true, 'bad': errors.has('state')}">
                                    <label for="inputEmail3" class="col-sm-2 control-label">State</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control has-error"  v-model="form.state" id="state" name="state">
                                    </div>
                                </div>

                                <div :class="{'form-group': true, 'bad': errors.has('country')}">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Country</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control has-error" v-model="form.country" id="country"  name="country">
                                    </div>
                                </div>

                                <div :class="{'form-group': true, 'bad': errors.has('roles')}">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Roles</label>
                                    <div class="col-sm-10">
                                        <selectize name="roles" class="form-control" v-validate="'required'" v-model="form.roles" :settings="statusOption" :options="stats"> 
                                            <option v-for="(value, key) in roles" :value="value.id">{{ value.name }}</option>
                                        </selectize>
                                    </div>
                                </div>

                              </div>
                            </div>
                          </div>

                          <div class="panel">
                            <a class="panel-heading collapsed" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              <h4 class="panel-title">Credentials</h4>
                            </a>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                              <div class="panel-body">

                                <div :class="{'form-group': true, 'bad': errors.has('email')}">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                                    <div class="col-sm-10">
                                        <input type="text" v-if="id > 0" class="form-control has-error" v-validate="'email'" v-model="form.email" id="email"  name="email">
                                        <input type="text" v-else class="form-control has-error" v-validate="'email|check_email_exists'" v-model="form.email" id="email"  name="email">
                                    </div>
                                    <span v-if="errors.has('email')" class="help-block" v-cloak>@{{ errors.first('email') }}</span>
                                </div>

                                <div :class="{'form-group': true, 'bad': errors.has('password')}">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Password</label>
                                    <div class="col-sm-10">
                                        <vue-password v-model="form.password"
                                                    classes="input form-control"
                                                    :user-inputs="[form.email]">
                                      </vue-password>
                                         
                                    </div>

                                   
                                </div>
                              </div>
                            </div>
                          </div>


                        </div>
                        <!-- end of accordion -->
                            
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" id="btn-save" data-loading-text="Saving.. <i class='fa fa-spinner fa-spin'></i>" ref="btn_profile_info" >Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<style>
  @import '~simplemde/dist/simplemde.min.css';
  @import '~github-markdown-css';
</style>
<script>
    import store_mix from '../../store';
    import { mapGetters } from 'vuex';
    import markdownEditor from 'vue-simplemde/src/markdown-editor';
    import VuePassword from 'vue-password';

    export default {
        data() {
          return {
            id: this.userID,
            imgId: '',
            result : [],
            selected: [],
            roles: [],
            stats:'',
            form: {
              firstname: '',
              lastname: '',
              profession: '',
              phone: '',
              street: '',
              city: '',
              state: '',
              country: '',
              email: '',
              password: '',
              roles: ''
            },
            selected_file: '',
            errorHandler: '',
            processUpload: false,
            statusOption: {
                create: false,
                placeholder: 'Select Roles'
            },
            imgSrc: '',
            cropperData: {},
            cropImg: '',
            cropper: {
                guides: true,
                viewMode: 2,
                dragMode: 'crop',
                autoCropArea: 0.6, 
                minContainerHeight: 400,
                minContainerWidth:300,
                background: true,
                rotatable: true,
                aspectRatio: 1,
                imgStyle: {
                    width: '100%',
                    height: '300px'
                }
            },
          }
        },
        mounted: function(){
            var self = this;
            if( this.id > 0 ){
                axios.get('/admin/user/'+this.id)
                    .then( response => {

                      var profile_img = response.data.profileImage;
                      if( profile_img.id > 0 ){
                        this.imgSrc = response.data.imagePath+'/'+profile_img.name+'.'+profile_img.ext_name;
                      }else{
                        this.imgSrc = '';
                      }
                      var data = response.data.userinfo;
                      self.form.city = data.city;
                      self.form.street = data.street;
                      self.form.state = data.state;
                      self.form.firstname = data.firstname;
                      self.form.country = data.country;
                      self.form.roles = response.data.user.role_id;
                      self.form.email = response.data.user.email;
                      self.form.lastname = data.lastname;
                      self.form.phone = data.phone;
                      self.form.profession = data.profession;
                      self.imgId = profile_img.id;
                    })
            }else{
                
                this.imgSrc = '';
            }
        },
        props: ['userID'],
        created(){
             axios.get('/admin/user/roles')
                  .then( response => {
                    this.roles = response.data.roles; 
                    //this.tags = response.data.tags
                  })
                this.$validator.extend('check_email_exists', {
                 getMessage: field => `The email is already taken.`,
                   validate: value => new Promise((resolve) => {
                            if(this.id == ''){
                                 axios.get('/admin/user/check/'+value)
                                       .then(
                                           (res)=>{
                                            resolve({
                                               valid: res.data.data 
                                            });
                                         }
                                      );
                            }else{
                              return true;
                            }      

                             })
                });
             


        },
        computed: {
            ...mapGetters({
                fileName: 'fileName',
                pagination: 'pagination',
              }),
        },
        components: {
            Selectize: require('vue2-selectize'),
            markdownEditor,
            ImageCropper: require('../ImageCrop.vue'),
            chooseFile: require('../chooseFile.vue'),
            VuePassword
        },
        watch: {
            resulta(value) {
                this.result = value;
            },
            blogID(value){
                this.id = value; // other way around to get the ID
            }
        },
        methods: {
            cropImage: function(){
                this.cropImg = this.$refs.cropper.getCroppedCanvas().toDataURL();
                this.cropperData = this.$refs.cropper.getData();
            },
            dataChange: function(value){
                this.imgSrc = value.imgSrc;
            },
            removeImage: function(){
                this.imgSrc = '';
                this.selected_file = null;
            },
            submitFrmUser: function(){
                var self = this;
                this.$validator.validateAll().then((result) => {

                    if( result ){
                      var form = self.form;
                      var data = {
                            firstname: form.firstname,
                            lastname: form.lastname,
                            profession: form.profession,
                            phone: form.phone,
                            street: form.street,
                            city: form.city,
                            state: form.state,
                            country: form.country,
                            roles: self.roles,
                            roleId: form.roles,
                            email: form.email,
                            password: form.password,
                            cropData : self.cropperData,
                            photo_data_url: self.imgSrc,
                            fileName: self.fileName,
                            imgId : self.imgId,

                        }
                        $(self.$refs.btn_profile_info).button('loading');
                        if( self.id > 0 ){ 
                          axios.post('/admin/user/'+self.id,data)
                                .then( response => {
                                    if( response ){
                                        $(self.$refs.btn_profile_info).button('reset');
                                        self.$emit('reloadUser',this.pagination.current_page);
                                        self.$emit('close');
                                    }
                                })
                        }else{
                            axios.post('/admin/user',data)
                                .then( response => {
                                    if( response ){
                                        $(self.$refs.btn_profile_info).button('reset');
                                        self.$emit('reloadUser',this.pagination.current_page);
                                        self.$emit('close');
                                    }
                                })
                        }
                    }
                });
            },
            checkEmailExists: function(){

            }
        },
    }
</script>
<style>
@import "~selectize/dist/css/selectize.bootstrap3.css";
</style>