<template>
	<div class="file-upload">
	    <div class="file-select">
	        <div class="file-select-button" id="fileName">Choose File</div>
	        <div class="file-select-name" id="noFile">{{ 'No file chosen...' }}</div> 
	        <input ref="finput" type="file" name="chooseFile" id="chooseFile" @change="setImage" >
	    </div>      
	</div>
</template>
<script>
import utils from '../mixins/utils';
import store_mix from '../store';
import { mapGetters } from 'vuex';

    export default {
    	mixins: [store_mix,utils],
        data() {
          return {
            selected_file: '',
            errorHandler: '',
          }
        },
        mounted() {
          
        },
        methods: {
          setImage (e) {
                let self = this
                const file = e.target.files[0];
                let filename = e.target.value;
                let extname = file.name;
                this.selected_file = file


                if (! this.isImageType(filename)) {
                    this.errorHandler = 'Selected file is not an image.'
                    return
                }

                if (this.error.filesize) {  // 5mb limit 
                    this.errorHandler = 'The file you tried to upload is too large, please limit the upload to 5mb.'
                    return
                }

                if (typeof FileReader === 'function') {
                    this.processUpload = true;
                    const reader = new FileReader();

                    reader.onload = (event) => {
                        var image = new Image();
                        image.src = event.target.result;
                        image.onload = function(){
                            if(this.width < 256 ){


                                self.errorHandler = 'Image width is less than 256px'
                                return;
                            }

                            var ext = extname.split('.');
                            
                            var nameFile = self.imgSrc.replace("C:\\fakepath\\", "")
                            //self.imgSrc = event.target.result;
                            var imgVar = {
                                imgSrc : event.target.result,
                                fileName : ext[0],
                            }
                            self.$store.dispatch('trigSaveImgSrc',imgVar);
                            self.$emit('atchange',imgVar); // call this to pass data ^_^
                            
                        }

                        // rebuild cropperjs with the updated source
                        //this.$refs.cropper.replace(event.target.result);


                    };

                    reader.readAsDataURL(file);


                } else {
                    console.info('Sorry, FileReader API not supported');
                }

                self.$parent.$emit('atchange','Image width is less than 256px');
                this.errorHandler = ''
            },
            

        },
        components: {
        },
        computed: {
            ...mapGetters({
                imgSrc: 'imgSrc',
              }),
        	error: function() {
                return {
                    filesize: (this.selected_file && this.selected_file.size/1024/1024 > 5)
                }
            },
            
            
        }
    }
</script>