<template>
	<div>
		<form class="form-horizontal form-label-left input_mask" v-on:submit.prevent="submitFrmProduct">
			<div class=" form-group" :class="{'col-md-4 col-sm-4 col-xs-12 form-group': true }">
				<input type="text" class="form-control" id="productcode" name="productcode" v-validate="'required'" v-model="productcode" placeholder="Search Product Code">
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
				<button type="submit" class="btn btn-success" data-loading-text="Searching.. <i class='fa fa-spinner fa-spin'></i>" ref="btn_product_info">Search</button>
			</div>
            <product-cart></product-cart>
		</form>
	</div>
</template>
<script>
    import store_mix from '../store';
    import { mapGetters } from 'vuex';
    export default {
    	data() {
          return {
            productcode: '',
          }
        },
        mounted() {
            console.log('Search Components Ready.')
        },
        components: {
          productCart: require('../components/buyproduct/productCart.vue'),
          modalCart: require('../components/modal/cartModal.vue'),
        },
        methods: {
        	submitFrmProduct: function(page){
        		var self = this;
				var data = {
					action : 'searchProduct',
					filter : 'productcode',
                    page : page,
					name : this.productcode
				}
    			self.$store.dispatch('searchData',data)
        				//$(self.$refs.btn_product_info).button('loading');
        	}
        }

    }
</script>