<template>
    <div>
        <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
          <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <!-- <router-link v-for="home in homelinks" v-if="home.text" tag="li" :to="home.path" v-bind:key="home.id">
                <a>{{ home.text }}</a>
              </router-link> -->
                <router-link :to="{ path: '/blog' }" tag="li">
                  <a>Blog</a>
                </router-link>
                <router-link :to="{ path: '/project' }" tag="li">
                  <a>Project</a>
                </router-link>
                <router-link :to="{ path: '/user' }" tag="li" v-if="$spatie.isSuperAdmin()">
                  <a>User</a>
                </router-link>
            </ul>
          </li>
          <li><a><i class="fa fa-desktop"></i> Inventory <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <router-link :to="{ path: '/supplier' }" tag="li">
                  <a>Supplier</a>
                </router-link>
                <router-link :to="{ path: '/categories' }" tag="li">
                  <a>Category</a>
                </router-link>
                <router-link :to="{ path: '/brand' }" tag="li">
                  <a>Brand</a>
                </router-link>
                <router-link :to="{ path: '/stocks' }" tag="li" v-if="$spatie.isSuperAdmin()">
                  <a>Stocks</a>
                </router-link>
            </ul>
          </li>
           <li><a><i class="fa fa-edit"></i>Product <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <router-link :to="{ path: '/buyproduct' }" tag="li">
                <a>Buy Product</a>
              </router-link>
            </ul>
          </li>
          <li><a><i class="fa fa-bar-chart-o"></i> Reports <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <router-link :to="{ path: '/order' }" tag="li" v-if="$spatie.isSuperAdmin()">
                  <a>Orders</a>
                </router-link>
            </ul>
          </li>
          <li><a><i class="fa fa-table"></i> Tables <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="#">Tables</a></li>
              <li><a href="#">Table Dynamic</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-clone"></i>Layouts <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="#">Fixed Sidebar</a></li>
              <li><a href="#">Fixed Footer</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="menu_section">
        <h3>Live On</h3>
        <ul class="nav side-menu">
          <li><a><i class="fa fa-bug"></i> Additional Pages <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="e_commerce.html">E-commerce</a></li>
              <li><a href="projects.html">Projects</a></li>
              <li><a href="project_detail.html">Project Detail</a></li>
              <li><a href="contacts.html">Contacts</a></li>
              <li><a href="profile.html">Profile</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="page_403.html">403 Error</a></li>
              <li><a href="page_404.html">404 Error</a></li>
              <li><a href="page_500.html">500 Error</a></li>
              <li><a href="plain_page.html">Plain Page</a></li>
              <li><a href="login.html">Login Page</a></li>
              <li><a href="pricing_tables.html">Pricing Tables</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-sitemap"></i> Multilevel Menu <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="#level1_1">Level One</a>
                <li><a>Level One<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li class="sub_menu"><a href="level2.html">Level Two</a>
                    </li>
                    <li><a href="#level2_1">Level Two</a>
                    </li>
                    <li><a href="#level2_2">Level Two</a>
                    </li>
                  </ul>
                </li>
                <li><a href="#level1_2">Level One</a>
                </li>
            </ul>
          </li>                  
          <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a></li>
        </ul>
      </div>
    </div>
</template>

<script>
    export default {
        data() {
          return {
            homelinks: [
              { id: 1, text: 'Blog' , path: '/blog' },
              { id: 2, text: 'Project' , path: '/project' },
              { id: 3, text: 'Users' , path: '/user' },
            ]
          }
        },
        mounted() {
            console.log('Component ready.')
        },
        created() {

        }
    }
</script>