<template>
	<div>
		<a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-envelope-o"></i>
            <span class="badge bg-green">6</span>
          </a>
	</div>
</template>
<script>
    import store_mix from '../../store';
    import { mapGetters } from 'vuex';
    export default {
    	data() {
          return {
            productcode: '',
          }
        },
        mounted() {
            console.log('Search Components Ready.')
        },
        methods: {
        	formFunc: function(page){
        		
        	}
        }

    }
</script>