<template>
  <div class="col-md-2">
  <ul class="nav navbar-nav navbar-right">
    <li role="presentation" >
    <a href="javascript:void(0)" @click="showCart(0)" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-2x fa-cart-arrow-down"></i>
        <span class="badge bg-red">{{productSave.length}}</span>
      </a>
    </li>
  </ul>
    
  </div>
</template>
<script>
    import store_mix from '../../store';
    import { mapGetters } from 'vuex';
    export default {
      data() {
          return {
            productcode: '',
            triggerModal: false,
            productCount: 0,
          }
        },
        mounted() {
            console.log('Cart Components Ready.')
        },
        computed: {
          ...mapGetters({
              productCart: 'productCart',
              prodSample: 'prodSample',
              productSave: 'productSave'
            }),
        },
        watch: {
          productCartCounter: function(){
            this.productCount = this.productSave.length
          }
        },
        methods: {
          showCart: function(flag){
            //this.triggerModal = true;
            //showCart
            var data = {
              'action' : true
            }
            this.$store.dispatch('showCart',data)
            if(flag > 0){
              
            }else{
              
            }
          },
          prodCounter: function(){

          }
        }

    }
</script>