<template>
  <div>
    <div class="col-md-55" v-for="productList in productsearched.data" >
      <div class="thumbnail">
        <div class="image view view-first">
          <img style="width: 100%; display: block;" alt="image" :src="productList.imageUrl"/>
          <div class="mask">
            <p>{{productList.productName}}</p>
            <div class="tools tools-bottom">
              <a href="javascript:void(0)" @click="productAdd(productList)"><i class="fa fa-cart-plus"></i></a>
            </div>
          </div>
        </div>
        <div class="caption">
          <p>Stock: {{ totalQuantity(productList.misc) }}</p>
          <p>Sizes: {{ getSizes(productList.misc)}}</p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
    import store_mix from '../../store';
    import { mapGetters } from 'vuex';
    export default {
        mixins:[store_mix],
        computed: {
          ...mapGetters({           
            productsearched: 'productsearched',
            pagination: 'pagination',
          }),
        },
        methods: {
          totalQuantity: function(miscs){
            return miscs.reduce(function (sum, item) {
              return sum + parseInt(item.quantity)
            }, 0)
          }, 
          getSizes: function(miscs){
            console.log('test');
            console.log(miscs);
          },
          productAdd: function(data){
            var cartData = new Object();
            cartData = {
              'action' : 'add',
              'data' : data
            }
            this.$store.dispatch('updateCart',cartData)
          }
        },
        mounted() {
            console.log('Product lists Ready.')
        }
    }
</script>