<template>
    <div>
        <div class="x_title">
            <h2>Blog</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content" >
            <p class="pull-left">Simple table with project listing with progress and editing options</p>
            <span class="pull-right"><a href="javascript:void(0);" @click="showModal(0)" data-toggle="modal" data-target=".bs-example-modal-lg" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Add </a></span>
            <!-- start project list -->
            <table class="table table-striped projects">
              <thead>
                <tr>
                  <th style="width: 1%"><input type="checkbox" v-model="toggleSelectBlog"></th>
                  <th>Featured Image</th>
                  <th style="width: 20%">Title</th>
                  <th>Tags</th>
                  <th>Status</th>
                  <th style="width: 20%">#Edit</th>
                </tr>
              </thead>

              <tbody>
                
                <tr v-for="blog in blogs" v-bind:class="{'info':checkedBlogs.includes(blog.id)}">
                  <td><input type="checkbox" class="flat" v-model="checkedBlogs" v-bind:value="blog.id"></td>
                  <td>
                      <imageBlog :imgData="blog.featured_image" :imgPath="pagination.path"></imageBlog>
                  </td>
                  <td>
                    <label>{{blog.title}}</label>
                  </td>
                  
                  <td class="project_progress">
                    <a v-for="tag in blog.tags" href="javascript:void(0);" class="btn btn-info btn-xs" >{{tag.tags}}</a>
                  </td>
                  <td>
                    <span>
                      <status :stat="blog.status"></status>
                    </span>
                  </td>
                  <td>
                    <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                    <a href="javascript:void(0);" @click="showModal(blog.id)" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                    
                  </td>
                </tr>
              </tbody>
            </table>

            <vue-pagination  v-bind:pagination="pagination"
                   v-on:click.native="getResults(pagination.current_page)"
                   :offset="4">
            </vue-pagination>
            <!-- end project list -->
            <modalBlog v-if="triggerModal" :id.sync="id" @reloader="getResults" @close="triggerModal = false" :resulta="blogs" :blogID="id"></modalBlog>
          </div>
          
    </div>
</template>

<script>
    import store_mix from '../store';
    import { mapGetters } from 'vuex';
    export default {
        mixins:[store_mix],
        data() {
          return {
            checkedBlogs: [],
            checkFlag: '',
            triggerModal: false,
            id: '',
            counter: 0,
            offset: 4,
          }
        },
        mounted() {
          this.getResults( this.pagination.current_page );
        },
        methods: {
          getResults: function( page ){
            var self = this;
            self.$store.dispatch('populateBlog',page)

            /* OLD CODE
            var self = this;
            var url = '/admin/populateblog?page='+page
            axios.get(url)
              .then( response => {
                this.blogs = response.data.data;
                this.pagination = response.data;
              }) */


          },
          showModal: function(id){
            var self = this;
            if( id > 0){
                self.triggerModal = true;
                self.id = id;
            }else{
                self.triggerModal = true;
                self.id = '';
            }
          },
        },
        watch: {
          reload: function(newRel){
            alert(newRel);
            this.getResults( this.pagination.current_page );
          }
        },
        components: {
          modalBlog: require('../components/modal/blog.vue'),
          status: require('../components/blog/status.vue'),
          imageBlog: require('../components/blog/featuredImage.vue'),
        },
        computed: {
          ...mapGetters({
            blogs: 'blogs',              
            pagination: 'pagination',
          }),
          toggleSelectBlog: {
            get: function(){
              return this.checkFlag
            },
            set: function(value){
              var selected = [];
              if( value ){
                this.blogs.forEach(function(blog){
                  selected.push(blog.id);
                });
              }
              if( selected.length ==  this.blogs.length){
                this.checkFlag = true
              }else
                this.checkFlag = false
              this.checkedBlogs = selected;
            }
          },
          featuredImage: {
            get: function(){

            },
            set: function(value){

            }
          },
        },
        created() {
          //self.$store.dispatch('populateBlog',page)
        }
    }
</script>