<template>
  <div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <span class="pull-right"><a href="javascript:void(0);" @click="showBrandModal(0)" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Add Brand </a></span>
      </div>

      <div class="clearfix"></div>

      
      
      
    </div>
    <div class="row">
        <div class="col-md-12">
          
            <!-- start project list -->
            <table class="table table-striped projects">
              <thead>
                <tr>
                  <th style="width: 1%"><input type="checkbox"></th>
                  <th style="width: 20%">Brand Name</th>
                  <th>Date Updated</th>
                  <th style="width: 20%">#Edit</th>
                </tr>
              </thead>

              <tbody>
                
                <tr v-for="brand in brands">
                  <td><input type="checkbox" class="flat" ></td>
                  <td>
                    <label>{{ brand.brand }}</label>
                  </td>
                  
                  <td class="">
                    <label></label>
                  </td>
                  <td>
                    <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                    <a href="javascript:void(0);" @click="showBrandModal(brand.id)" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                    
                  </td>
                </tr>
              </tbody>
            </table>

            <vue-pagination  v-bind:pagination="pagination"
                   v-on:click.native="getResults(pagination.current_page)"
                   :offset="4">
            </vue-pagination>
        </div>
      </div>

    <modal-brand v-if="triggerModal" @reloader="getResults"  :brandid="id" @close="triggerModal = false" ></modal-brand>
  </div>
</template>

<script>
    import store_mix from '../store';
    import { mapGetters } from 'vuex';
    import { ToggleButton } from 'vue-js-toggle-button';
    export default {
        mixins:[store_mix],
        data() {
          return {
            triggerModal: false,
            id: '',
          }
        },
        methods: {
          showBrandModal: function(id){
            var self = this;
            self.triggerModal = true;
            if( id > 0){
                self.id = id;
            }else{
                self.id = '';
            }
          },
          getResults: function( page ){
            var self = this;
            self.$store.dispatch('populateBrands',page)
          },
        },
        components: {
          modalBrand: require('../components/modal/brandModal.vue'),
          ToggleButton,
        },
        mounted() {
          this.getResults( this.pagination.current_page );
        },
        computed: {
          ...mapGetters({             
            pagination: 'pagination',
            brands: 'brands',
          }),
        }
    }
</script>