<template>
	<div>
		<div class="row">
			<search-app></search-app>
      <product-lists></product-lists>
      <modal-cart :trigModal="triggerModal" v-if="productCart.triggerModal" :prodId="productId" @close="productCart.triggerModal = false"></modal-cart>
	  </div>
    <div class="row">
      <div class="col-md-12">
        <vue-pagination  v-bind:pagination="pagination"
             v-on:click.native="getResults(pagination.current_page)"
             :offset="4">
        </vue-pagination>
      </div>
    </div>
    </div>
  </div>
</template>
<script>
    import store_mix from '../store';
    import { mapGetters } from 'vuex';
    import { ToggleButton } from 'vue-js-toggle-button';
    export default {
        mixins:[store_mix],
        data() {
          return {
            id: '',
            triggerModal: false,
            productId: '',
          }
        },
        methods: {
          getResults: function( page ){
            var self = this;
            var data = {
              action : 'searchAllProduct',
              filter : 'productcode',
                        page : page,
              name : this.productcode
            }
              self.$store.dispatch('searchData',data)
          },
          trigModal: function(action){
            
          },
        },
        components: {
          searchApp: require('../components/searchs.vue'),
          productLists: require('../components/buyproduct/productlists.vue'),
          productCart: require('../components/buyproduct/productCart.vue'), 
          modalCart: require('../components/modal/cartModal.vue'), 
          ToggleButton,
        },
        mounted() {
          this.getResults( this.pagination.current_page );
        },
        computed: {
          ...mapGetters({           
            productsearched: 'productsearched',
            productCart: 'productCart',
            pagination: 'pagination',
          }),
        }
    }
</script>
<style>
@import "~sweetalert2/dist/sweetalert2.css";
</style>
