<template>
  <div v-if="$spatie.isSuperAdmin()">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        &nbsp;
      </div>

      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <v-md-date-range-picker @change="changeDate"></v-md-date-range-picker>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          
            <!-- start project list -->
            <table class="table table-striped projects">
              <thead>
                <tr>
                  <th>Order Number</th>
                  <th>Product Name</th>
                  <th>Date</th>
                  <th>Quantity</th>
                  <th>Total</th>
                </tr>
              </thead>

              <tbody>
                
                <tr v-if="orders.length > 0" v-for="order in orders">
                  <td>
                    <label>{{order.order_number}}</label>
                  </td>
                  <td><label>{{ order.product.product_name}}</label></td>
                  <td><label>{{ order.created_at }}</label></td>
                  <td class="">
                    <label>
                      {{ order.quantity}}
                    </label>
                  </td>
                  <td>
                    <label>{{ order.total}}</label>
                  </td>
                </tr>
                <tr v-if="orders.length == null || orders.length <= 0">
                  <td colspan="5" class="text-center"><label>No Data</label></td>
                </tr>
              </tbody>
              <tfoot v-if="orders.length > 0">
                <tr>
                  <td colspan="3">&nbsp; </td>
                  <td><label>Total:</label> </td>
                  <td><label>{{ totalOrders }}</label></td>
                </tr>
              </tfoot>
            </table>

        </div>
      </div>
      <div class="row" v-if="isOrders > 0">
        <div class="col-md-12">
          <GChart
            type="ColumnChart"
            :data="graphData"
            :options="chartOptions"
          />
        </div>
      </div>
  </div>
  <div v-else class="text-center"><label>You are not authorize to view this page..</label></div>
</template>

<script>
    import store_mix from '../store';
    import { mapGetters } from 'vuex';
    import { ToggleButton } from 'vue-js-toggle-button';
    import { VMdDateRangePicker } from "v-md-date-range-picker";
    import { moment } from 'vue-moment';
    import { GChart } from 'vue-google-charts'
    //Vue.use(require('vue-moment'));


    export default {
        mixins:[store_mix],
        data() {
          return {
            triggerModal: false,
            id: '',
            selectDate: null,
            test: this.startDate,
            chartOptions: {
              chart: {
                title: 'Company Performance',
                subtitle: 'Sales, Expenses, and Profit: 2014-2017',
              }
            }
          }
        },
        methods: {
          getResults: function(id){
            console.log(this.$prop)
          },
          showProductModal: function(){
            console.log(this.$options.props);
          },
          changeDate: function(e){
            if(e == undefined){
              var current_datetime = new Date();
              let formatted_date = current_datetime.getFullYear() + "-" + (current_datetime.getMonth() + 1) + "-" + current_datetime.getDate() 
              console.log(formatted_date);
              var data = {
                startDate: formatted_date+' 00:00:00',
                endDate: formatted_date+' 23:59:59'
              }
            }else{
              var startDate = e[0].format("YYYY-MM-DD 00:00:00")
              var endDate = e[1].format("YYYY-MM-DD 23:59:59")
              console.log(endDate);
              var data = {
                startDate: startDate,
                endDate: endDate
              }
            }
            
            this.$store.dispatch('orderPopulate',data)
          },
          dateFormat: function(e){
            return moment(String(e)).format('MM/DD/YYYY hh:mm')
          },
          totalRevenue: function (values) {
            return values.reduce((acc, val) => {
              return acc + parseInt(val.revenue);
            }, 0);
          }
        },
        components: {
          modalStock: require('../components/modal/stockModal.vue'),
          ToggleButton,
          VMdDateRangePicker,
          GChart,
        },
        mounted() {
          this.changeDate()
        },
        computed: {
          ...mapGetters({             
            pagination: 'pagination',
            orders: 'orders',
            graphData: 'graphData',
          }),
          totalOrders: function() {
            var totalAll = []
            if(this.orders.length > 0){
              this.orders.forEach(function(ord){
                totalAll.push(ord.total)
              })
              const arrSum = arr => arr.reduce((a,b) => a + b, 0)
              const result = arrSum(totalAll)
              return isNaN(result) ? 0 : result;
            }
          },
          isOrders: function(){
            return this.orders.length;
          }
        }
    }
</script>