<template>
    <div>
        <div class="x_title">
            <h2>Project</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content" >
            <p class="pull-left">Simple table with project listing with progress and editing options</p>
            <span class="pull-right"><a href="javascript:void(0);" @click="showModal(0)" data-toggle="modal" data-target=".bs-example-modal-lg" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Add </a></span>
            <!-- start project list -->
            <table class="table table-striped projects">
              <thead>
                <tr>
                  <th style="width: 1%"><input type="checkbox" ></th>
                  <th>Featured Image</th>
                  <th style="width: 20%">Title</th>
                  <th>Tags</th>
                  <th>Link</th>
                  <th style="width: 20%">#Edit</th>
                </tr>
              </thead>

              <tbody>
                
                <tr v-for="project in projects" >
                  <td><input type="checkbox" class="flat" ></td>
                  <td>
                      <imageFeatured :imgData="project.image" :imgPath="pagination.path"></imageFeatured>
                  </td>
                  <td>
                    <label>{{project.name}}</label>
                  </td>
                  
                  <td class="project_progress">
                    <a v-for="tag in project.tags" href="javascript:void(0);" class="btn btn-info btn-xs" >{{tag.tags}}</a>
                  </td>
                  <td>
                    <span><a v-bind:href="project.link" target="_blank">{{project.link}}</a></span>
                  </td>
                  <td>
                    <a href="javascript:void(0);" @click="showModal(project.id)" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                    
                  </td>
                </tr>
              </tbody>
            </table>

            <vue-pagination  v-bind:pagination="pagination"
                   v-on:click.native="getProjects(pagination.current_page)"
                   :offset="4">
            </vue-pagination>
            <modal v-if="triggerModal" :projID="id" @pagereload="reloadpage" @close="triggerModal = false" ></modal>
          </div>
          
    </div>
</template>

<script>
    import store_mix from '../store';
    import { mapGetters } from 'vuex';
    export default {
        mixins:[store_mix],
        data() {
          return {
            checkFlag: '',
            triggerModal: false,
            id: '',
            counter: 0,
            offset: 4,
          }
        },
        mounted() {
          this.getProjects( this.pagination.current_page );
        },
        methods: {
          getProjects: function( page ){
            var self = this;
            self.$store.dispatch('populateProject',page)
          },
          showModal: function(id){
            var self = this;
            if( id > 0){
                self.triggerModal = true;
                self.id = id;
            }else{
                self.triggerModal = true;
                self.id = '';
            }
          },
          reloadpage: function(page){
            this.getProjects( page );
          },
        },
        watch: {
        },
        components: {
          imageFeatured: require('../components/blog/featuredImage.vue'),
          modal: require('../components/modal/project.vue'),
        },
        computed: {
          ...mapGetters({             
            pagination: 'pagination',
            projects: 'projects'
          }),
        }
    }
</script>