<template>
  <div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <span class="pull-right"><a href="javascript:void(0);" @click="showProductModal(0)" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Add Stocks </a></span>
      </div>

      <div class="clearfix"></div>

      
      
      
    </div>
    <div class="row">
        <div class="col-md-12">
          
            <!-- start project list -->
            <table class="table table-striped projects">
              <thead>
                <tr>
                  <th style="width: 1%"><input type="checkbox"></th>
                  <th style="width: 20%">Product Name</th>
                  <th>Product Code</th>
                  <th>Quantity</th>
                  <th>Categories</th>
                  <th style="width: 20%">#Edit</th>
                </tr>
              </thead>

              <tbody>
                
                <tr v-for="product in products">
                  <td><input type="checkbox" class="flat" ></td>
                  <td>
                    <label>{{ product.product_name }}</label>
                  </td>
                  <td><label>{{ product.product_code }}</label></td>
                  <td class="">
                    <label>
                      {{ totalQuantity(product.miscs) }}
                    </label>
                  </td>
                  <td>
                    <label>{{ product.product_category }}</label>
                  </td>
                  <td>
                    <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                    <a href="javascript:void(0);" @click="showProductModal(product.id)" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                    
                  </td>
                </tr>
              </tbody>
            </table>

            <vue-pagination  v-bind:pagination="pagination"
                   v-on:click.native="getResults(pagination.current_page)"
                   :offset="4">
            </vue-pagination>
        </div>
      </div>

    <modal-stock v-if="triggerModal" @reloader="getResults"  :productid="id" @close="triggerModal = false" ></modal-stock>
  </div>
</template>

<script>
    import store_mix from '../store';
    import { mapGetters } from 'vuex';
    import { ToggleButton } from 'vue-js-toggle-button';
    export default {
        mixins:[store_mix],
        data() {
          return {
            triggerModal: false,
            id: '',
          }
        },
        methods: {
          showProductModal: function(id){
            var self = this;
            self.triggerModal = true;
            if( id > 0){
                self.id = id;
            }else{
                self.id = '';
            }
          },
          getResults: function( page ){
            var self = this;
            self.$store.dispatch('populateStock',page)
          },
          totalQuantity: function(miscs){
            return miscs.reduce(function (sum, item) {
              return sum + parseInt(item.quantity)
            }, 0)
          }
        },
        components: {
          modalStock: require('../components/modal/stockModal.vue'),
          ToggleButton,
        },
        mounted() {
          this.getResults( this.pagination.current_page );
        },
        computed: {
          ...mapGetters({             
            pagination: 'pagination',
            products: 'products',
          }),
          category(){
            return this.products.map(function(item){
              return item.id
            });
          },
          total() {
            var arr = [];
            this.products.forEach(function(item){
              arr.push(item.miscs);
            })
            return arr.reduce(function(sum,item){
                return sum + parseFloat(item.quantity)
              },0);
            /*return this.products.miscs.reduce(function (sum, item) {
              return sum + parseInt(item.quantity)
            }, 0)*/
          }
        }
    }
</script>