<template>
  <div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <span class="pull-right"><a href="javascript:void(0);" @click="showSupplierModal(0)" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Add Supplier </a></span>
      </div>

      <div class="clearfix"></div>

      
      
      
    </div>
    <div class="row">
        <div class="col-md-12">
          
            <!-- start project list -->
            <table class="table table-striped projects">
              <thead>
                <tr>
                  <th style="width: 1%"><input type="checkbox"></th>
                  <th style="width: 20%">Supplier Name</th>
                  <th>Address</th>
                  <th>Status</th>
                  <th style="width: 20%">#Edit</th>
                </tr>
              </thead>

              <tbody>
                
                <tr v-for="supplier in suppliers" >
                  <td><input type="checkbox" class="flat" ></td>
                  <td>
                    <label>{{supplier.supplier_name}}</label>
                  </td>
                  
                  <td class="">
                    <label>{{supplier.address}}</label>
                  </td>
                  <td>
                    <toggle-button :value="false"
                                           color="#82C7EB"
                                           v-model="supplier.status ? true : false"
                                           :sync="true"
                                           :labels=" {checked: 'active', unchecked: 'inactive' }"
                                           :margin="1"
                                           :width="66"
                                           :disabled="true"/>
                  </td>
                  <td>
                    <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                    <a href="javascript:void(0);" @click="showSupplierModal(supplier.id)" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                    
                  </td>
                </tr>
              </tbody>
            </table>

            <vue-pagination  v-bind:pagination="pagination"
                   v-on:click.native="getResults(pagination.current_page)"
                   :offset="4">
            </vue-pagination>
        </div>
      </div>

    <modal-supplier v-if="triggerModal" @reloader="getResults"  :supplierid="id" @close="triggerModal = false" ></modal-supplier>
  </div>
</template>

<script>
    import store_mix from '../store';
    import { mapGetters } from 'vuex';
    import { ToggleButton } from 'vue-js-toggle-button';
    export default {
        mixins:[store_mix],
        data() {
          return {
            triggerModal: false,
            id: '',
          }
        },
        methods: {
          showSupplierModal: function(id){
            var self = this;
            self.triggerModal = true;
            if( id > 0){
                self.id = id;
            }else{
                self.id = '';
            }
          },
          getResults: function( page ){
            var self = this;
            self.$store.dispatch('populateSupplier',page)
          },
        },
        components: {
          modalSupplier: require('../components/modal/supplierModal.vue'),
          ToggleButton,
        },
        mounted() {
          this.getResults( this.pagination.current_page );
        },
        computed: {
          ...mapGetters({             
            pagination: 'pagination',
            suppliers: 'suppliers',
            productsearched: 'productsearched',
          }),
        }
    }
</script>