<template>
  <div v-if="$spatie.isSuperAdmin()">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <span class="pull-right"><a href="javascript:void(0);" @click="showModal(0)" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Add </a></span>
      </div>

      <div class="clearfix"></div>

      

      <div v-for="user in users" class="col-md-4 col-sm-4 col-xs-12 profile_details">
        <div class="well profile_view">
          <div class="col-sm-12">
            <h4 class="brief"><i>{{ user.profession }}</i></h4>
            <div class="left col-xs-7">
              <h2>{{ user.name }}</h2>
              <p><strong>About: </strong> Web Designer / UI. </p>
              <ul class="list-unstyled">
                <li><i class="fa fa-building"></i> Address: {{ user.street+' '+user.city+" "+ user.state }}</li>
                <li><i class="fa fa-phone"></i> Phone #: {{ user.phone }}</li>
              </ul>
            </div>
            <div class="right col-xs-5 text-center">
              <img :src="profilePath+user.profileImg" alt="" class="img-circle img-responsive">
            </div>
          </div>
          <div class="col-xs-12 bottom text-center">
            <div class="col-xs-12 col-sm-6 emphasis">
              <p class="ratings">
                <a>4.0</a>
                <a href="#"><span class="fa fa-star"></span></a>
                <a href="#"><span class="fa fa-star"></span></a>
                <a href="#"><span class="fa fa-star"></span></a>
                <a href="#"><span class="fa fa-star"></span></a>
                <a href="#"><span class="fa fa-star-o"></span></a>
              </p>
            </div>
            <div class="col-xs-12 col-sm-6 emphasis">
              <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                </i> <i class="fa fa-comments-o"></i> </button>
              <a href="javascript:void(0);" @click="showModal(user.id)" class="btn btn-primary btn-xs"><i class="fa fa-user"></i> View Profile </a>
            </div>
          </div>
        </div>



      </div>
        
      <usermodal v-if="triggerModal" :userID="id" @reloadUser="showUsers" @close="triggerModal = false"></usermodal>
      
      
    </div>
    <div class="row">
        <div class="col-md-12">
            <vue-pagination  v-bind:pagination="pagination"
                     v-on:click.native="showUsers(pagination.current_page)"
                     :offset="4">
              </vue-pagination>
        </div>
      </div>
  </div>
  <div v-else class="text-center"><label>You are not authorize to view this page..</label></div>
</template>

<script>
    import store_mix from '../store';
    import { mapGetters } from 'vuex';
    export default {
        mixins:[store_mix],
        data() {
          return {
            triggerModal: false
          }
        },
        methods: {
          showModal: function(id){
            var self = this;
            if( id > 0){
                self.triggerModal = true;
                self.id = id;
            }else{
                self.triggerModal = true;
                self.id = '';
            }
          },
          showUsers: function(page){
            var self = this;
            self.$store.dispatch('populateUser',page)
          },
        },
        components: {
          usermodal: require('../components/modal/user.vue'),
        },
        mounted() {
            this.showUsers( this.pagination.current_page );
        },
        computed: {
          ...mapGetters({             
            pagination: 'pagination',
            users: 'user',
            profilePath: 'profilePath',
          }),
        }
    }
</script>