/*----------------------------------
  Footer
------------------------------------*/

.s-footer__logo {
	@include position(relative);
	z-index: 1;

	@include before {
		@include position(absolute, $top: 0, $left: .9375rem, $bottom: 0);
		@include size(70%, auto);
		z-index: -1;
		content: " ";
	}
}